
.footer {  
    background:  $light-blue;
    align-items: center;
    position: relative;
    min-height: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    border: 1rem;
    color: rgb(250, 233, 233);
}